{% if page and page.meta and page.meta.comments == false %}
{% else %}
  <h2 id="__comments">评论</h2>

  <div id="dn-comments" class="dn-comments-root"
    data-page-url="{{ page.url }}"
    data-page-title="{{ page.title }}"
    data-site-url="{{ config.site_url }}"
    data-twikoo-env="{{ config.extra.twikoo.env_id if config.extra.twikoo else '' }}"
    data-giscus-cat="{{ config.extra.giscus.category_id if config.extra.giscus else '' }}"
    data-giscus-category="{{ config.extra.giscus.category if config.extra.giscus else 'Announcements' }}"
  ></div>
{% endif %}
